body {
    font-family: arial, sans-serif;
} /*this sets the font family for the body of the page*/

.content-container {
    grid-area: content;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-row-gap: 20px;
    padding-top: 110px;
    grid-template-areas:
    ".logo ."
    ".search ."
    ".buttons .";
} /*this sets the rules for the container div which in this case is the middle bit*/

.header {
    line-height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
} /*this sets the rules for the header, which at the moment doesnt seem to work*/

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: rgba(0,0,0,87);
    font-size: 13px;
    padding: 0 15px;
} /*this sets the rules for the nav, whatever that is*/

.right {
    display: flex;
    align-items: center;
}

.opacity:hover { 
    opacity: .85; 
} /*this controls the opacity class*/

.apps-icon { 
    height: 18px; 
    width: 18px; 
    opacity: 0.4; 
    margin-left: 7px; 
    align-self: center; 
} /*this is the rules for the image tagged as apps-icon*/

.apps-icon:hover { 
    opacity: 1; 
} /*this changes the opacity of the image tagged as apps-icon when you hover over it by 1*/

.signIn { 
    color: #fff; 
    font-weight: bold; 
    opacity: 1; 
    line-height: 28px; 
    padding: 0 12px; 
    margin: 10px; 
    border: 1px solid #2a79f8; 
    border-radius: 2px; 
    font-size: 13px; 
    background: #2a79f8; 
    background: -moz-linear-gradient(top,#4387fd,#4683ea); 
    background: linear-gradient(top,#4387fd,#4683ea); 
}/*this is the rules to generate the sign in box*/
    
.logo { 
    grid-area: logo; 
}

.logo img { 
    height: 92px; 
    width: 272px; 
}

.search-wrapper { 
    grid-area: search; 
    border-radius: 24px; 
    width: 582px; 
    height: 44px; 
    border: 1px solid #dfe1e5; 
    display: flex; 
    align-items: center; 
}

.search { 
    border: none; 
    width: 100%; 
    height: 40px; 
    z-index: 1; 
    font-size: 16px; 
}

.search-wrapper:hover { 
    box-shadow: 0px 1px 6px rgba(32,33,36,0.28); 
}

.question { 
    height: 15px; 
    opacity: 0.4; 
    padding: 10px 14px; 
}

.sound { 
    height: 24px; 
    padding: 10px 16px; 
}

.buttons { 
    grid-area: buttons; 
}

.buttons button { 
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1); 
    background-color: #f2f2f2; 
    border: 1px solid #f2f2f2; 
    border-radius: 4px; 
    font-size: 14px; 
    padding: 0 16px; 
    line-height: 27px; 
    margin: 11px 4px; 
    height: 36px; 
    color: #5F6368; 
    min-width: 54px; 
    text-align: center; 
}

.buttons button:hover { 
    color: #222; 
    border: 1px solid #c6c6c6; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.1); 
    background-color: #f8f8f8; 
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1); 
}

.footer-wrapper { 
    grid-area: footer; 
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1); 
    background-color: #f2f2f2; 
    border-top: 1px solid #e4e4e4; 
    line-height: 40px; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
}

.footer { 
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.footerleft { 
    padding-left: 20px; 
}

.footerright { 
    padding-right: 20px; 
}

.footer a { 
    text-decoration: none; 
    color: #5f6368;; 
    font-size: 10pt; 
    padding: 0 10px; 
}

.footer a:hover, nav a:hover { 
    text-decoration: underline;
}